/*MOBILE FIRST */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    height: 5.7vh;
    width: 100%;
    background-color: #2571B7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 1.5vh;
}

/*hamburguer menu*/

#burguerMenu{
    height: 2.1vh;
    width: 3.4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2571B7;
}

.burguerMenuLine{
    background-color: antiquewhite;
    height: 10%;
    border-radius: 2px;
}

/*cta menu*/

#menuCTA{
    width: 18vh;
    height: 3.9vh;
    font-weight: 550;
    color: antiquewhite;
    background-color: #002050;
    text-align: center;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*Hero / Banner */

#hero{
    width: 100%;
    height: 80vh;
    background-image: url('../images/pcHeaderFull.png');
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vw;
    background-size: cover;         /*manter proporção */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /*background fixo, só o texto move*/
}

h1.heroH1{
    margin-top: 9vh;
    font-size: 42px;
    font-weight: 500;
}

h2.heroH2{
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.6;
}

.heroButton{
    background-color: #00A4EF;
    width: 20vh;
    height: 7vh;
    border: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 2px;
}

.loremLogo{
    justify-self: flex-end;
    margin-top: 17vh;
}

/*Section de textos pré card*/

#preCardsText{
    color: #737373;
    line-height: 1.6;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3.5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.precardsP{
    font-size: 2.3vh;
    font-weight: 400;
}

.precardsP.precardsP1{
    margin-top: 4vh;
    margin-bottom: 2vh; 
}

.preCardsH3{
    color: #2571B7;
    padding: 4vh;
    font-size: 3.5vh;
    font-weight: 550;
}

/*section de cards*/

#cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh;
    row-gap: 2vh;
    padding-top: 0;
}

.card{
    width: 100%;
    height: 18vh;
    padding: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    border-radius: 2px;
}

.targetImg{
    height: 9vh;
    width: 9vh;
    padding: 1vh;
}  

.cardText{
    padding: 1.7vh;
    text-align: left;
    font-size: 1.9vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.cardTitle{
    font-weight: bold;
    font-size: 3vh;
    margin-bottom: 0.8vh;
}

.cardcolor3070BF{
    background-color: #3070BF;
}

.cardcolor375793{
    background-color: #375793;
}

.cardcolor397149{
    background-color: #397149;
}

.cardcolorBC523B{
    background-color: #BC523B;
}

.cardcolor6B3A7D{
    background-color: #6B3A7D;
}

.cardcolor4EACEA{
    background-color: #4EACEA;
}


/*section dos símbolos (após os cards)*/

#simbols{
    margin-top: 6vh;
    text-align: center;
    padding: 0vh 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.simbleCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2vh;
}

.simbleCardsTitle{
    color: #2571B7;
    font-size: 3.5vh;
    font-weight: 550;
    padding: 1vh 0vh 3vh 0vh;
}

.simbleCard{
    display: flex;
    font-size: 1.9vh;
    line-height: 1.5;
    width: 100%;
    height: 26vh;
    border-bottom: 0.7vh solid #DEDEDE;
}

.simbleCard.noGreyBorder{
    border-bottom: none;
}

.simbleCardText{
    text-align: left;
    font-size: 1.8vh;
}

.simbleCardTitle{
    font-weight: bold;
    font-size: 2.2vh;
    margin-bottom: 2vh;
    /*padding: 0vh 0vh 1.5vh 0vh;*/
}

.simbleCardP{
    color:  #737373;
    margin-bottom: 2vh;
}

.simbleCardImg{
    padding-top: 7vh;
}

.simbleCardButton{
    font-weight: bold;
    padding: 1.3vh;
    border: 1px solid;
    border-radius: 0.3vh;
}

/*cores de botões e títulos dos simble cards */

.color7FBA00{
    color: #7FBA00;
}

.color00A4EF{
    color: #00A4EF;
}

.colorFFB900{
    color: #FFB900;
}


/*section dos cards cinza */

#greyCardsSection{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 6vh 2vh 0vh 2vh;
}

.greyCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6vh;
    text-align: center;
}

.greyCardsTitle{
    color: #2571B7;
    font-size: 3.5vh;
    font-weight: 550;
    padding: 1vh 0vh 3vh 0vh;
    text-align: center;
}

.greyCard{
    border: 3px solid #DEDEDE;
    border-bottom: 1.5px solid #DEDEDE;
    width: 100%;
    height: 23vh;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh;
    font-size: 1.9vh;
}

.greyCardTitle{
    color: #F25022;
    font-weight: bold;
    font-size: 2.5vh;
    padding-bottom: 1.7vh;
}

.greyCardP{
    color: #737373;
}

.lastGreyCard{
    border-bottom: 3px solid #DEDEDE;
}

/*seção foto dos empresários felizes*/

#companyCelebrationSection{
    margin-top: 7vh;
    background-image: url(../images/happyBusiness.png);
    height: 31vh;
    text-align: center;
    padding: 3vh;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
    /*background-size: cover;      
    background-position: center; 
    background-attachment: fixed;  */
}

.celebrationText{
    color: white;
    font-size: 1.5rem;
    padding-top: 2.2vh;
}

/*espaço em branco pré form */

.whitespace{
    height: 5vh;
    width: 100%;
}

/* Form */

#formSection{
    padding: 0vh 2vh 1vh 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}

.formWrapper{
    background-color:  #06065a;

}

.preFormTitle{
    font-size: 3vh;
    margin-bottom: 2vh;
    text-align: center;
    font-weight: 550;
    color:  #f2f2f2;
    background-color: #000033;
    height: 7vh;
    vertical-align: center;
    padding-top: 2vh;
}

.preFormText{
    text-align: center;
    margin-bottom: 2vh;
    font-weight: 500;
    color: #f2f2f2;
}

form{
    display: flex;
    flex-direction: column ;
    max-width: 750px;
    min-width: 300px;
}

fieldset{
    display: flex;
    flex-direction: column ;
    color: white;
    font-weight: 500;
    padding: 2vh;
    border-bottom: 0.5vh solid #3b3b4f;
    margin: 0 1.5vh;
}

fieldset:last-of-type{
    border-bottom: none;
}

input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: white;
    padding: 0.7vh ;
    margin: 1vh 0vh 1vh 0vh;
    border-radius: 0.5vh;
    object-fit: cover; 
}

a{
    color: #f0d4a0;
    text-decoration: none;
}

.inline{
    vertical-align: middle;
    width: unset;
}

.submitArea{
    display: flex;
    justify-content: center;
}

input[type="submit"]{
    width: 60%;
    padding: 1.7vh;
    border: 0.1rem solid white;
    background-color: #3b3b4f;
    font-size: 1.1rem;
}







/*anotações próximas queryes

tablet - 768 width:
header{
    height: 8vh;
    padding: 1.5 vh;
}

#burguerMenu{
    height: 5vh;
    width: 7vh;
}


*/