/*MOBILE FIRST */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    height: 5.7vh;
    width: 100%;
    background-color: #2571B7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 1.5vh;
}

/*hamburguer menu*/

#burguerMenu{
    height: 2.1vh;
    width: 3.4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2571B7;
}

.burguerMenuLine{
    background-color: antiquewhite;
    height: 10%;
    border-radius: 2px;
}

/*cta menu*/

#menuCTA{
    width: 18vh;
    height: 3.9vh;
    font-weight: 550;
    color: antiquewhite;
    background-color: #002050;
    text-align: center;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*Hero / Banner */

#hero{
    width: 100%;
    height: 80vh;
    background-image: url('../images/pcHeader380x600.png');
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vw;
}

h1.heroH1{
    margin-top: 9vh;
    font-size: 42px;
    font-weight: 500;
}

h2.heroH2{
    text-align: center;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.6;
}

.heroButton{
    background-color: #00A4EF;
    width: 20vh;
    height: 7vh;
    border: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 2px;
}

.loremLogo{
    justify-self: flex-end;
    margin-top: 17vh;
}

/*Section de textos pré card*/

#preCardsText{
    color: #737373;
    line-height: 1.6;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3.5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.precardsP{
    font-size: 2.3vh;
    font-weight: 400;
}

.precardsP.precardsP1{
    margin-top: 4vh;
    margin-bottom: 2vh; 
}

.preCardsH3{
    color: #2571B7;
    padding: 4vh;
    font-size: 3.5vh;
    font-weight: 550;
}

/*section de cards*/

#cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh;
    row-gap: 2vh;
    padding-top: 0;
}

.card{
    width: 100%;
    height: 18vh;
    padding: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    border-radius: 2px;
}

.targetImg{
    height: 9vh;
    width: 9vh;
    padding: 1vh;
}  

.cardText{
    padding: 1.7vh;
    text-align: left;
    font-size: 1.9vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.cardTitle{
    font-weight: bold;
    font-size: 3vh;
    margin-bottom: 0.8vh;
}

.cardcolor3070BF{
    background-color: #3070BF;
}

.cardcolor375793{
    background-color: #375793;
}

.cardcolor397149{
    background-color: #397149;
}

.cardcolorBC523B{
    background-color: #BC523B;
}

.cardcolor6B3A7D{
    background-color: #6B3A7D;
}

.cardcolor4EACEA{
    background-color: #4EACEA;
}


/*section dos símbolos*/

#simbolos{
    margin-top: 5vh;
}




/*anotações próximas queryes

tablet - 768 width:
header{
    height: 8vh;
    padding: 1.5 vh;
}

#burguerMenu{
    height: 5vh;
    width: 7vh;
}


*/